<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:mvc="http://www.springframework.org/schema/mvc"
		xsi:schemaLocation=
		"http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd"
>
	<!-- 의존 객체 자동주입 -->
	<context:annotation-config />
	<!-- @Controller -->
	<mvc:annotation-driven />
	<!-- root 설정 -->
	<mvc:view-resolvers>
		<mvc:jsp prefix="/WEB-INF/view/"/>
		<mvc:jsp prefix=".jsp"/>
	</mvc:view-resolvers>
	<!-- 그림 파일 prefix 경로 -->
	<mvc:resources location="/WEB-INF/view/" mapping="/**" cache-period="14400" />
	
	<!-- controller 없이 사용  -->
	<mvc:view-controller path="/" view-name="index" />
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1000000000" />
		<property name="maxInMemorySize" value="1000000000" />
	</bean>
	
</beans>